html {
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background: #d0dde2 url('assets/images/pattern-topo.png') repeat;
    box-sizing: border-box;
    color: var(--color-light);
    cursor: default;
    font-family: var(--font-family);
    font-size: var(--font-size);
    letter-spacing: var(--tracking);
    line-height: var(--line-height);
    position: relative;
    word-spacing: var(--spacing);
    &:before {
        background: rgba(1, 85, 107, 0.2);
        content: '';
        height: 100%;
        left: 0;
        margin: 0 auto;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
}

::selection {
    background: var(--color-cyan);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

main {
    overflow-x: hidden;
    min-height: 100vh;
}

a {
    color: var(--color-light);
    text-decoration: none;
    transition: color 0.2s;
    &:visited {
        color: var(--color-light);
    }
    &:hover {
        color: var(--color-cyan);
    }
    &:active {
        color: var(--color-cyan);
    }
}
