$_font-family: 'Nunito', Helvetica, Arial, sans-serif;
$_font-size: 15px;

$_spacing: 0rem;
$_line-height: 1.4;
$_tracking: 0rem;
$_tracking-medium: 0.5rem;
$_tracking-large: 0.8rem;

$_color-light: #FCFEFE;
$_color-dark: #000;

$_color-cyan: #e4fdff;
$_color-cerulean: #00b1bd;
$_color-ocean: #006387;
$_color-lagoon: #046287;
$_color-terracota: #dc6f2d;
$_color-robroy: #dda858;