.button {
    border: 2px solid transparent;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-family: "Kalam", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    outline: none;
    padding: 1rem 1rem 0.8rem 1rem;
    position: relative;
    letter-spacing: 0.02em;
    transition: all 0.3s ease-out;
    &:nth-child(2n+2) {
        border-top-left-radius: 125px 25px;
        border-top-right-radius: 10px 205px;
        border-bottom-right-radius: 20px 205px;
        border-bottom-left-radius: 185px 25px;
    }
    span {
        position: relative;
        z-index: 5;
    }

    &:hover {
        box-shadow: 2px 8px 4px -6px rgba(0,0,0,.3) !important;
    }
    &:active, &[disabled="true"] {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
        border-color: transparent !important;
        transition: all 0s ease-out;
    }

    // Modifiers
    &.cerulean {
        background: var(--color-cerulean);
        border-color: #7fd4da;
        color: var(--color-light);
    }
    &.robroy {
        background: var(--color-robroy);
        border-color: #fab54d;
        color: var(--color-light);
    }
    &.large {
        font-size: 1.3em;
        outline: none;
        letter-spacing: 0.05em;
    }
    &.small {
        font-size: 1em;
        font-weight: 600;
        outline: none;
    }
}
