.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    .flex-child {
        flex: 0 1 auto;
        align-self: auto;
    }
}
