.container {
    padding: 2em;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    .flex-child {
        flex: 0 1 auto;
        align-self: auto;
    }
}

.float-center {
    align-items: center;
    border: none;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}
