/* base */
.transition-loading {
  backface-visibility: hidden;
  z-index: 1;
}
/* moving */
.transition-loading-move {
  transition: all 0.6s ease-in-out 0.05s;
}
/* appearing */
.transition-loading-enter-active {
  transition: all 0.4s ease-out;
}
/* disappearing */
.transition-loading-leave-active {
  transition: all 1.8s ease-in-out;
}
/* appear at / disappear to */
.transition-loading-enter,
.transition-loading-leave-to {
  opacity: 0;
  transform: scale(1.1);
}
